.container-carpark{
  width:100%;
}

.list-carpark{
max-width:1440px;
width:100%;
margin: 0 auto;
border: 1px solid;
}

.list-carpark li{
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
    display: inline-block;

}
