
/*RESPONSIVE*/

/*LAPTOP*/
@media screen and (max-width: 1600px){
  .container-main{
    height:650px;
  }

  .main-header{
    padding-top:250px;
  }
}

/*TABLET*/
@media only screen
and (max-width: 1024px) {
  .container-main{
    height:600px;
  }

  .main-header{
    padding-top:200px;
  }

  /*NAV MOBILE*/

  #nav-hamburger{
    display:block;
  }

  .nav-logout{
    display:none;
  }

  .nav-center{
    position:relative;
    margin-top:50px;
    display:none;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.2);
  }

  .nav-center li{
    display:block;
    padding: 20px 14px;
    height:60px;
    background-color:white;
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
  }

  .nav-center li:hover{
    background-color:#fafafa;
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
  }

  #nav-mobile-logout{
    display:block;
  }

  .container-img{
    color: #ff7c7c;
    bottom:-2px;
    position:absolute;
    width:100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width:1000px;
  }
}

/*PHONE*/
@media only screen
and (max-width: 736px) {

  .list-carpark li{
    margin: 0 auto;
  }
  .container-main{
    height:500px;
  }

  .container-responsive{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
  }

  .main-header{
    text-align: center;
    font-size: 25px;
    color: white;
  }

  .main-logo{
    height:40px;
  }

  .main-row{
    height:40px;
  }

  .main-form{
    height:40px;
    font-size:13px;
    width:calc(100% - 40px);
  }

  .main-button{
    height:40px;
    width:40px;
    font-size:13px;
  }
  /*BUTTON*/

  .button{
    width:auto;
    font-size:11px;
    padding-top:11px;
  }

  .container{
    padding: 150px 50px;
    text-align: center;
  }

  .container h1{
    font-size:25px;
  }

  .container p{
    font-size:14px;
    text-align: center;
  }
}
